<md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" flex>
    <md-toolbar class="md-theme-indigo" layout="row" layout-align="center center">
        <div flex="50" layout="row" layout-align="start center">
            <h1 class="md-toolbar-tools">ngDam</h1>
        </div>
        <div flex="50" layout="row" layout-align="end center" layout-padding>
            <md-button class="md-fab md-mini md-icon-button" aria-label="More">
                <md-icon class="material-icons">apps</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-list>
        <md-list-item ui-sref="app.account" ui-sref-active="active">
            <md-icon>account_box</md-icon>
            <p> Accounts </p>
        </md-list-item>
    </md-list>
</md-sidenav>