<md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" flex>
    <md-toolbar class="md-theme-indigo" layout="row" layout-align="center center">
        <div flex="50" layout="row" layout-align="start center">
            <h1 class="md-toolbar-tools">DAM</h1>
        </div>
        <div flex="50" layout="row" layout-align="end center" layout-padding>
            <md-button class="md-fab md-mini md-icon-button" aria-label="More">
                <md-icon class="material-icons">apps</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-list>
        <md-list-item ui-sref="app.account" ui-sref-active="active">
            <md-icon>account_box</md-icon>
            <p> Accounts </p>
        </md-list-item>
    </md-list>
    <div ng-hide="vm.showAPIBottom">
        <span>Authorize access to Drive API</span>
        <!--Button for the user to click to initiate auth sequence -->
        <button id="authorize-button" onclick="vm.handleAuthClick(event)">
        Authorize
      </button>
    </div>
    <ul>
        <li ng-repeat="files in vm.getFiles()">
            <span>{{file.name}} + ' (' + {{file.id}} + ')'</span>
        </li>
    </ul>
</md-sidenav>